

body {
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}
.container {
    width: 800px;
    margin: auto;
    padding: 15px;
    font-size: 1em;
}

.logo {
    float: right;
    color: gray;
}