.tumbler {
    display:inline-block;
    float:left;
    margin:0px;
    padding:0px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 32px;
    height: 32px;
}

#slot-machine {
    position: relative;
    top: -14px;
    left: 12px;
    padding: 0px;
    margin: 0px;
    width: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

#slot-help-icon {
    float: right;
}

#slot-help {
    position: fixed;
    bottom: 112px;
    left: 112px;
    padding: 6px;
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    width: 200px;
    border-radius: 5px;
    color: black;
    background-color: lemonchiffon;
    z-index: 1;
}

#tblr2 {
    border-right: 1px solid black;
}

.hidden {
    display: none;
}